:root {
  --border-radius: 4px;

  --color-code: #8a6534;
  --color-code-bg: #fff4db;
  --color-primary: #7026b9;
  --color-text: #333;
  --font-lg: 18px;
  --font-md: 16px;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-dense: 1.1;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --size-content: 54rem;
  --size-gap: var(--space-6);
  --size-gutter: var(--space-5);
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
}
html {
  overflow-y: scroll;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);

  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  word-wrap: break-word;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--color-primary);
  background-color: transparent;
  font-weight: 500;

  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  text-decoration: none;
  outline-width: 0;
}
abbr[title] {
  cursor: help;
  text-decoration: none;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  letter-spacing: -0.01em;
  line-height: var(--line-height-dense);
}
h1 > b {
  color: var(--color-primary);
}
img {
  max-width: 100%;
  border-style: none;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  overflow: visible;
  box-sizing: content-box;
  height: 1px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  margin-left: 0;
  padding: 0;
  border: none;
  background: hsla(0, 0%, 0%, 0.2);
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  margin-bottom: var(--space-4);
  padding: 0;
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  overflow: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: var(--space-4);
  margin-left: 0;
  padding: var(--space-4);
  word-wrap: normal;
  border-radius: var(--border-radius);
  background: hsla(0, 0%, 0%, 0.04);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-top: calc(var(--space-4) / 2);
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  cursor: help;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}
acronym {
  cursor: help;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}
tt,
code {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  word-break: normal;
  color: var(--color-code);
  border-radius: var(--border-radius);
  background-color: var(--color-code-bg);
  font-family: var(--font-mono);
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.gradient-border {
  position: relative;
  padding: var(--space-4);
  border-radius: var(--borderWidth);
  background: #fff;

  --borderWidth: 3px;
}
.gradient-border:hover:after {
  position: absolute;
  z-index: -1;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);
  content: "";
  animation: animatedgradient 3s ease alternate infinite;
  border-radius: calc(2 * var(--borderWidth));
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
